<div class="container py-4">
  <div class="col-sm-6 offset-sm-3">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <h1 class="text-center">My Wishlist</h1>

      <a class="btn btn-danger btn-md" (click)="logout()">Logout</a>
    </div>

    <div class="">
      <add-wish-form (addWish)="items.push($event)"></add-wish-form>

      <div class="row mt-3">
        <wish-filter [(filter)]="filter"></wish-filter>
      </div>

      <div class="row mt-3">
        <div class="col-sm-12">
          <wish-list
            [wishes]="filter ? items.filter(filter) : items"
          ></wish-list>
        </div>
      </div>
    </div>
  </div>
</div>
